body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    background: #e22f9e;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.heart-image {
    max-width: 100%;
    height: auto;
}
